    <div class="footer">
        
            <span><i class="copyright outline icon">&nbsp;</i></span>
            <span><a href=""><i class="github icon"></i>Ryan Thomas - 2018</a>☕️</span>
            
    </div>
</body>
</html>
