
/* GLOBAL */

html {
  height: inherit;
}

body{
  background-color: black;
  background-image: url('https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=962fdbcc8d5031658056ef47fded4b7b&auto=format&fit=crop&w=1500&q=80');
  /* background-position: left; */
  background-attachment: fixed;
  background-size: contain;
  background-repeat: repeat;
}

.container.main {
  margin-top: 4.7em;
  margin-bottom: 1.5em;
}

/* HEADER */

.menu .header i.icon {
  font-size: 1.8em;
  color: rgb(46,20,20);
}

/*FOOTER*/

.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: chocolate;
  color: black;
  text-align: center;
}

.footer > span > a {
  color: black;
}

/* INDEX */

i.icon.chevron {
  font-size: 0.8em;
}

.content .header a {
  color: rgb(46, 20, 20);
}

.content .header a:hover {
  text-decoration: underline;
}

/* SHOW */

#delete {
  display: inline;
}

/*FORM*/
.ui.form {
  font-size: 1rem;
  margin-top: 50px;
  text-align: center;
}

.ui.red.message {
  background-color: black;
  color: chocolate;
  width: 247px;
  margin-left: 544px;
  margin-top: 80px;
}

.ui.form .fields {
  display: inline-block;
}

.ui.form .fields .field:first-child {
  padding-left: 4%;
  width: 250px;
}

.ui.form .two.fields > .fields, .ui.form .two.fields > .field {
  width: 100%;
}

.ui.floating.message {
    margin-top: 50px;
}

.ui.text.container {
    margin-bottom: 80px;
}

.ui.huge.header {
    min-height: 1em;
    font-size: 2em;
    color: whitesmoke;
}

.ui .main .text .container .segment{
    background-color: black; 
}

input .bgCol {
  background-color: rgba(0, 0, 0, 0.267);
}

